<!doctype html>
<html lang="en" data-ng-app="app">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width,user-scalable=no">
      <title>SignForJob</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <script src="js/angular.min.js"></script>
      <script src="js/angular-touch.min.js"></script>
      <script type="text/javascript" src="js/ui-bootstrap.js" ng-module="ui-bootstrap"></script>
      <script type="text/javascript" src="js/anguscript.js"></script>    </head>
    <body style="overflow:auto;background-color:#5CB85C;" ng-controller="MainController">
        <div class="container" ng-init="workers = true;">
            <div class="top-menu">
                <div class="row" style="color:#f8f8f8;border:1px solid #f8f8f8;background-color:#000;margin-bottom:15px;">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                        <h2>SignJob</h2>
                    </div>
                    <div class="menu col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right" style="">
                        <h2>&#9776; Menu</h2>
                    </div>
                </div>
            </div>
            <div class="row thumbnail" style="background-image: url('img/confectionary.png');">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left">
                    <div class="row">
                        <div class="col-md-12" style="padding:0;">
                            <p class="input-group">
                                <input id="worker" ng-focus="worker_name=null;" type="text" class="form-control" ng-model="worker_name">
                                <span class="input-group-btn">
                                    <button ng-click='add_worker(worker_name);' class="btn btn-info">Add Worker</button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Date</span>
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="input-group">
                                    <span class="input-group-addon">Place</span>
                                    <input id="place" class="form-control" ng-model="place" ng-focus="place=null;" type="text" value="Enter Place"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="padding:0;margin-bottom:15px;">
                            <div class="input-group">
                              <span class="input-group-addon">Time</span>
                              <input type="text" class="form-control" ng-model="period" size="50" ng-focus="period=null;" maxlength="50">
                              <div class="input-group-btn">
                                <span class="dropdown" dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>{{period2}} <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" dropdown-menu>
                                  <li ng-click="period2='hours';"><a href="#">Hours</a></li>
                                  <li ng-click="period2='days';"><a href="#">Days</a></li>
                                </ul>
                                </span>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Job Done</span>
                                <input id="job" class="form-control" ng-model="job" ng-focus="job=null;" type="text" value="Enter Finished Job"/>
                            </div> 
                        </div>  
                    </div>
                    <div class="row" >
                        <div class="well list-inline" style="margin:0;">
                            <p>Selected date is: <em>{{dt | date:'fullDate' }}</em></p>
                            <p>Workers:
                            <span ng-repeat="worker in workers_list">{{worker.value}}<span ng-if="!$last">,</span>
                            </span>
                            </p>
                            <p>Time spent: {{period}} {{period2}} </p>
                            <p>Worked in: {{place}} </p>
                            <p>Job Finished: {{job}} </p>
                            <!--<p id="touchX">dasdasdAS</p>
                            <p id="touchY">dasdasdAS</p>
                            <p id="offsetx">dasdasdAS</p>
                            <p id="offsety">dasdasdAS</p>
                            <p ng-show="tablet">{{tablet}}</p>
                            <p id="height">dasdasdAS</p>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div style="padding:15% 4%;">
                        <button ng-click="canvas = !canvas;workers = true;" class="btn btn-info col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin: 0 auto;">Click To Sign</button>
                        <button ng-click="workers = !workers;canvas = true;" class="btn btn-info col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin: 0 auto;">Show Workers</button>
                    </div>
                    <div collapse="canvas">
                        <center><canvas height="270%" id="Mycanvas" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border: 1px solid #ccc;background-color:#fff;padding-top:5%;"></canvas></center>
                        <div class="col-md-12" style="padding-top:20px;">
                            <a id="download" download="Signature.png"><button class="col-md-6 col-sm-6 col-xs-6 btn btn-success">Save Image</button></a>
                            <button class="col-md-6 col-sm-6 col-xs-6 btn btn-danger" onclick="clearImg()">Clear</button>
                        </div>
                    </div>
                    <div collapse="!canvas || !workers ">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" collapse="workers" id="workers"> 
                        <select class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="background-color:#f8f8f8;" size="19" ng-model="deleteItem" ng-options="worker.value for worker in workers_list">
                        </select>
                        <button class="btn btn-danger col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-click="deleteWorker(deleteItem)">Delete Worker</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit">
            <button class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-success">Submit</button>
        </div>
    </body>
<script type="text/javascript" src="js/sketchpad.js"></script>
</html>
